@media all and (min-width: 480px) {
    .CreateProfile {
      padding: 60px 0;
      font-size: calc(10px + 1vmin);
    }

    .Name {
        margin: 0 auto;
        max-width: 320px; 
    }
    
    .CreateProfile form {
        margin: 0 auto;
        max-width: 320px;
      }

  }

    